<% layout("/layouts/boilerPlate")%>
<div>
  <div class="row mt-3">
    <div class="col-8 offset-3"><h2><b><%=listing.title%></b></h2>
      <br>
      </div>
   <div class="card col-6 offset-3 show-card">
  <img src="<%=listing.image||'https://images.pexels.com/photos/373290/pexels-photo-373290.jpeg'%>" class="card-img-top show-img" alt="listing_image">
  <div class="card-body">
    <p class="card-text">
      <%=listing.description%><br>
       &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/night
<br>
      <%=listing.location%><br>
      <%=listing.country%>


    </p>
  </div>
</div>
   </div>
   
   <br>
   <div class="d-flex justify-content-center gap-4 mt-3 ">
    <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark add-btn">Edit </a>
   

  <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
    <button class="btn btn-dark add-btn ">Delete </button>
  </form>
</div>

<div class="col-8 offset-3 mb-3">
  <hr>
  <h4>Leave a rating</h4>
  <form method="POST" action="/listings/<%=listing._id%>/reviews" novalidate class="needs-validation">
  <div class="mb-3 mt-3">
  <label for="rating" class="form-label">Rating</label>
  <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
</div>

<div class="mb-3 mt-3">
<label for="comment" class="form-label">Comment</label>
<textarea name="review[comments]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
<div class="invalid-feedback">please add some feedback for review</div>
</div>
<br>
<button class="btn btn-outline-dark">Submit</button>
</form>
<hr>
 
 
 <p><b>All Reviews</b></p>
<div class="review-wrapper">
  <div class="row">
  <% for (let review of listing.reviews) { %>
    <div class="card col-5 ms-3 mb-3">
      <div class="card-body text-start">
        <h5 class="card-title">Priyanka</h5>
        <p class="card-text"><%= review.comments %></p>
        <p class="card-text"><%= review.rating %> ⭐</p>
      </div>
      <br>
      <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
        <button class="btn btn-sm btn-dark">Delete</button>
      </form>
    </div>
  <% } %>
  </div>
</div>
